<div class="add-post">
  <div class="container">
    <div class="title"><%= link_to :back do %>
        <%= image_tag "show-back.png" %>
      <% end %>Edit Post</div>
    <%= render 'form', post: @post %>
  </div>
</div>
