.dashboard {
  width: 100%;
  height: 100vh;
  padding: 80px 300px;
  overflow-y: scroll;

  img {
    width: 30px;
  }

  header {
    height: 50px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;

        ul li {
          list-style-type: none;
          display: inline-flex;
          margin-left: 30px;
          font-weight: 500;
        }

        img {
          width: 30px;
          height: 30px;
        }

        .logo {
          width: 25px;
          height: 25px;
        }
      }

      .right {
        display: flex;

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
          border-radius: 50%;
        }

        .dropdown {
          float: left;
          overflow: hidden;
        }

        .dropdown .dropbtn {
          border: none;
          outline: none;
          margin: 0;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          right: 18%;
          top: 11.8%;
          font-size: 14px;
          border-radius: 10px 0 10px 10px;
          overflow: hidden;
        }

        .dropdown-content a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        .dropdown-content a:hover {
          background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }
  }

  main {
    .feed {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .post {
        width: 500px;
        min-height: 730px;
        border: 1px solid rgb(203, 203, 203);
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        margin: 20px;
        overflow: hidden;
        border-radius: 10px;

        .top {
          min-height: 60px;
          max-height: 60px;

          display: flex;

          .left {
            display: flex;
            padding: 0 10px;
            align-items: center;

            img {
              height: 40px;
              width: 40px;
              border-radius: 50%;
              margin-right: 10px;
            }

            .name {
              font-weight: 500;
            }

            .username {
              color: grey;
              font-size: 14px;
            }
          }
        }

        .middle {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 500px;
            height: 500px;
          }
        }

        .bottom {
          display: flex;
          padding: 10px;
          flex-direction: column;
          height: 100%;

          .details-wrapper {
            height: 100%;
            
            button {
              background: none;
              outline: none;
              border: none;
              cursor: pointer;
            }
  
            .buttons {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 10px;
  
              .left-button {
                display: flex;
  
                img {
                  margin-right: 10px;
                }
              }
            }
  
            .down {
              width: 100%;
  
              .liked-by {
                margin-bottom: 10px;
                span {
                  font-weight: 600;
                }
              }
            }
  
            .post-details {
              color: rgb(87, 87, 87);
              max-width: 95%;
              padding: 0 0 10px 0;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              height: 20px;
              span {
                font-weight: 600;
                color: black;
              }
            }
  
            .date {
              font-size: 13px;
              color: rgb(144, 144, 144);
              margin: 10px 0;
            }
          }


          .comment {
            border-top: 1px solid rgb(203, 203, 203);
            margin-top: 10px;
            height: 50px;
            display: flex;
            align-items: center;
            padding-top: 10px;
            text-decoration: none;
            color: black;

            img {
              width: 25px;
              height: 25px;
              margin-right: 15px;
              border-radius: 50%;
            }

            form{
              display: flex;
              align-items: center;
              
              input[type=text] {
                border: none;
                outline: none;
                height: 50px;
                width:  400px;
                font-size: 14px;
                background: none;
              }

              input[type=submit] {
                border: none;
                background: none;
                outline: none;
                font-size: 14px;
                font-weight: 600;
                color: rgb(198, 96, 23);
              }
            }
          }
        }
      }
    }
  }
}
