.dashboard {
  padding: 50px 120px;
  height: 100vh;
  overflow: hidden;

  header {
    height: 50px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .side {
        display: flex;
        align-items: center;

        ul li {
          list-style-type: none;
          display: inline-flex;
          margin-left: 30px;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      .buttons {
        display: flex;
        align-items: center;

        .search {
          background-color: #e4e4e4;
          height: 40px;
          border-radius: 20px;
          width: 220px;
          outline: none;
          border: none;
          padding: 0 20px;
          color: black;
          margin-right: 10px;
        }

        img {
          width: 30px;
          cursor: pointer;
        }

        .dropdown {
          float: left;
          overflow: hidden;
        }

        .dropdown .dropbtn {
          border: none;
          outline: none;
          margin: 0;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          right: 7%;
          top: 9.1%;
          font-size: 14px;
        }

        .dropdown-content a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        .dropdown-content a:hover {
          background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 30px;

    .left {
      // margin-right: 20px;
      max-width: 350px;
      border-right: 1px solid rgb(203, 203, 203);

      .category {
        font-weight: 600;
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid rgb(203, 203, 203);
        background-color: #f0f0f0;
      }

      .list {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        height: 78vh;
        min-width: 320px;
        max-width: 320px;


        .blank {
          display: flex;
          height: 80%;
          width: 100%;
          align-items: center;
          color: grey;
          font-size: 14px;
          padding-left: 50px;
        }


        .creator-list {
          display: grid;
          grid-template-columns: 60px 160px 75px;
          align-items: center;
          max-width: 400px;
          padding: 10px 20px 10px 10px;


          &:nth-child(2n + 1) {
            background-color: rgb(233, 233, 233);
          }

          .name {
            font-size: 14px;
            font-weight: 500;
          }

          .username {
            font-size: 12px;
            color: #2f2f2f;
          }

          a {
            text-decoration: none;
            color: black;
            font-size: 10px;
            padding: 5px;
            border-radius: 5px;
            margin-left: 20px;
            border: 1px solid grey;

            &:hover {
              background-color: black;
              color: white;
              border: 1px solid black;
            }
          }
        }

        img {
          width: 50px;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
    }

    .middle {
      width: 100%;
      border-right: 1px solid rgb(203, 203, 203);

      .category {
        font-weight: 600;
        padding: 10px 10px 10px 20px;
        width: 100%;
        border-bottom: 1px solid rgb(203, 203, 203);
        background-color: #f0f0f0;
      }

      .feed {
        padding: 0px 50px;
        overflow: scroll;
        height: 78vh;

        .blank {
          display: flex;
          height: 80%;
          width: 100%;
          align-items: center;
          color: grey;
          font-size: 14px;
          justify-content: center;
        }

        .post {
          height: 725px;
          width: 725px;
          display: flex;
          flex-direction: column;
          margin: 20px 0;
          border-radius: 20px;
          overflow: hidden;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid rgb(203, 203, 203);
          }

          .user {
            height: 60px;
            width: 100%;
            display: flex;
            background-color: white;
            align-items: center;
            border-radius: 10px 10px 0 0;
            padding: 10px;

            img {
              width: 40px;
              margin-right: 10px;
              border-radius: 50%;
            }

            .details {
              display: flex;
              flex-direction: column;

              .name {
                font-size: 14px;
                font-weight: 500;
              }

              .username {
                font-size: 12px;
                color: #2f2f2f;
              }
            }
          }

          .image {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .others {
            height: 60px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0 0 10px 10px;
            padding: 10px 20px;

            .like {
              display: flex;
              align-items: center;
              height: 30px;
              justify-content: center;
              font-size: 14px;

              img {
                margin-right: 10px;
                animation: 0.2s like ease-in-out forwards;
                cursor: pointer;
                width: 20px;
                margin-top: 0px;
              }

              button {
                border: none;
                outline: none;
                background: none;
                cursor: pointer;
                margin: 0;

                img {
                  margin-top: 5px;
                  animation: 0.2s unlike ease-in-out forwards;
                }
              }

              @keyframes like {
                50% {
                  transform: scale(1.3);
                }

                100% {
                  transform: scale(1);
                }
              }

              @keyframes unlike {
                100% {
                  transform: scale(1);
                }
              }

              a {
                text-decoration: none;
                color: black;
                font-size: 14px;
                display: flex;
                height: 30px;
                align-items: center;
              }
            }
            .post-date {
              font-size: 14px;
              color: grey;
            }
          }
        }
      }
    }

    .right {
      width: 100%;


      .category {
        font-weight: 600;
        padding: 10px;
        width: 100%;
        border-bottom: 1px solid rgb(203, 203, 203);
        background-color: #f0f0f0;
      }

      .liked-posts {
        height: 78vh;
        overflow-y: scroll;
        max-width: 278px;

        .blank {
          display: flex;
          height: 80%;
          width: 100%;
          align-items: center;
          color: grey;
          font-size: 14px;
          padding-left: 110px;
        }

        .list {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          padding: 10px;
          align-items: center;

          &:nth-child(2n + 1) {
            background-color: rgb(233, 233, 233);
          }

          img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            border-radius: 5px;
          }

          .user {
            margin-right: 15px;

            .name {
              font-size: 14px;
              font-weight: 500;
            }

            .username {
              font-size: 12px;
              color: #2f2f2f;
            }
          }
        }

        .others {
          .like {
            display: flex;
            align-items: center;
            height: 30px;
            justify-content: center;
            font-size: 12px;

            img {
              margin-right: 10px;
              animation: 0.2s like ease-in-out forwards;
              cursor: pointer;
              width: 20px;
              height: 20px;
              margin-top: 0px;
            }

            button {
              border: none;
              outline: none;
              background: none;
              cursor: pointer;
              margin: 0;

              img {
                margin-top: 5px;
                animation: 0.2s unlike ease-in-out forwards;
              }
            }

            @keyframes like {
              50% {
                transform: scale(1.3);
              }

              100% {
                transform: scale(1);
              }
            }

            @keyframes unlike {
              100% {
                transform: scale(1);
              }
            }

            a {
              text-decoration: none;
              color: black;
              font-size: 12px;
              display: flex;
              height: 30px;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
