.dashboard {
  padding: 50px 120px;

  header {
    height: 50px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .side {
        display: flex;
        align-items: center;

        ul li {
          list-style-type: none;
          display: inline-flex;
          margin-left: 30px;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      .buttons {
        display: flex;
        align-items: center;

        .search {
          background-color: #e4e4e4;
          height: 40px;
          border-radius: 20px;
          width: 220px;
          outline: none;
          border: none;
          padding: 0 20px;
          color: black;
          margin-right: 10px;
        }

        img {
          width: 30px;
          cursor: pointer;
        }

        .dropdown {
          float: left;
          overflow: hidden;
        }

        .dropdown .dropbtn {
          border: none;
          outline: none;
          margin: 0;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          right: 7%;
          top: 9.3%;
          font-size: 14px;
        }

        .dropdown-content a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        .dropdown-content a:hover {
          background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 50px;

    input[type="radio"] {
        display: none;
    }

  }
}
