.home {
  padding: 50px 120px;

  img {
    width: 100px;
  }

  header {
    height: 50px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .side {
        display: flex;
        align-items: center;

        ul li {
          list-style-type: none;
          display: inline-flex;
          margin-left: 30px;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        .search {
          background-color: #e4e4e4;
          height: 40px;
          border-radius: 20px;
          width: 220px;
          outline: none;
          border: none;
          padding: 0 20px;
          color: black;
        }

        .login {
          text-decoration: none;
          color: black;
          margin: 0 20px;

          &:hover {
            text-decoration: underline;
          }
        }

        .create {
          background-color: #ffe606;
          color: black;
          text-decoration: none;
          border-radius: 20px;
          width: 160px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;

    .left {
      margin-top: 100px;
      width: 84%;

      .slogan {
        font-size: 80px;
        font-weight: 700;
      }

      .texts {
        font-size: 18px;
        margin-top: 20px;
        color: #2f2f2f;
        line-height: 1.5;
      }

      .options {
        margin-top: 30px;
        display: flex;
        align-items: center;

        .get-started {
          background-color: #ffe606;
          height: 60px;
          width: 180px;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          text-decoration: none;
          color: black;

          &:hover {
            background-color: black;
            color: white;
          }
        }

        .demo {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 30px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }

      .checklist {
        margin-top: 30px;

        .check {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        img {
            width: 20px;
            margin-right: 10px;
        }
      }
    }
    .right {
        margin-top: 30px;

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
        .left {
            margin: 0;
            img {
                width: 400px;
            }
        }

        .right {
            display: flex;
            flex-direction: column;

            img {
                width: 300px;
            }

        }
      }
    }
  }
}
