.form-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .payment-form {
        width: 800px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
        border-radius: 20px;
        padding: 50px;

        .header {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
                width: 20px;
                margin-right: 15px;
                margin-top: 5px;
            }
    
            .payment-title {
                font-size: 24px;
                font-weight: 600;
            }
        }

    
        .field {
            width: 100%;
            margin-top: 20px;
            label {
                width: 100%;
                padding-left: 5px;
            }
            
            input {
                margin-top: 10px;
                width: 100%;
                border: none;
                padding: 10px 20px;
                outline: none;
                background-color: white;
                height: 50px;
                border-radius: 10px;
                margin-bottom: 15px;
                font-size: 16px;
            }
        }

        .card-details {
            display: flex;
            .field:first-child {
                margin-left: 0;
            }
            .field:last-child {
                margin-right: 0;
            }
            .field {
                width: calc(100% / 3);
                margin: 20px 10px;
            }
        }

        .actions {
            margin-top: 20px;
            input {
                outline: none;
                border: none;
                font-weight: 600;
                font-size: 16px;
                color: #c66017;
                border: 1px solid #c66017;
                border-radius: 10px;
                padding: 15px 40px;
                cursor: pointer;

                &:hover {
                    background-color: #c66017;
                    border: 1px solid #c66017;
                    color: white;
                }
            }
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
}