.posts {
  width: 100%;
  height: 100vh;
  padding: 80px 300px;
  overflow-y: scroll;

  img {
    width: 30px;
  }

  header {
    height: 50px;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        align-items: center;

        ul li {
          list-style-type: none;
          display: inline-flex;
          margin-left: 30px;

          a {
            text-decoration: none;
            color: black;
          }
        }

        .focus {
          font-weight: 600;
        }

        img {
          width: 30px;
          height: 30px;
        }

        .logo {
          width: 25px;
          height: 25px;
        }
      }

      .right {
        display: flex;

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
          border-radius: 50%;
        }

        .dropdown {
          float: left;
          overflow: hidden;
        }

        .dropdown .dropbtn {
          border: none;
          outline: none;
          margin: 0;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          right: 18%;
          top: 11.8%;
          font-size: 14px;
          border-radius: 10px 0 10px 10px;
          overflow: hidden;
        }

        .dropdown-content a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        .dropdown-content a:hover {
          background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }
  }

  main {
    position: relative;

    .banner {
      height: 190px;
      width: 100%;
      border-radius: 10px;
      background-image: image_url('banner.jpg');
    }

    .creator {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 400px;
      position: absolute;
      top: 4%;
      left: 0;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
      }

      .data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 15px auto;

        .count {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100px;
        }

        .number {
          font-weight: 600;
          font-size: 20px;
        }

        .label {
          font-size: 15px;
        }

        .fan-count {
          border-right: 1px solid rgb(203, 203, 203);
          border-left: 1px solid rgb(203, 203, 203);
        }
      }

      .name {
        font-weight: 600;
        font-size: 25px;
        margin-top: 10px;
      }

      .username {
        color: grey;
        font-size: 14px;
      }
    }
    .container {
      margin-top: 200px;
      height: 800px;
      position: sticky;
      top: 0;
      height: 89vh;

      .title {
        font-weight: 600;
        padding: 0 0 10px 10px;
        border-bottom: 1px solid rgb(203, 203, 203);
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 17px;

        a {
          text-decoration: none;
          font-weight: 400;
          color: white;
          background-color: black;
          border-radius: 15px;
          padding: 5px 15px;
          font-size: 12px;
          border: 1px solid black;

          &:hover {
            color: black;
            background: none;
          }
        }
      }

      .feed {
        .blank {
          width: 100%;
          height: 440px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: grey;
        } 
        .posts {
          padding: 20px 25px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          height: 800px;
          overflow-y: scroll;

          .post {
            width: 320px;
            height: 365px;
            overflow: hidden;
            margin: 10px;
            border: 1px solid rgb(203, 203, 203);
            border-radius: 10px;
            overflow: hidden;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              border: 1px solid rgb(143, 143, 143);
            }

            img {
              width: 100%;
              height: 320px;
            }

            .like-comment {
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 10px 5px 10px;

              img {
                width: 20px;
                height: 20px;
                margin-right: 8px;
              }

              .like,
              .comment {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #2f2f2f;
              }
            }
          }
        }
      }
    }
  }
}
