.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  .container {
    width: 1300px;
    height: 800px;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;

    img {
      width: 25px;
    }
    .title {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight: 600;
      height: 40px;
      margin-bottom: 20px;

      a {
        text-decoration: none;
      }

      img {
        width: 20px;
        margin: 5px 10px 0 0;
      }
    }

    .text {
      margin-bottom: 20px;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .field {
        height: 80px;

        &:nth-child(1) {
          margin-bottom: 40px;
        }
      }

      .left {
        input {
          border: none;
          background: none;
          outline: none;
          height: 45px;
          border-radius: 10px;
          background-color: white;
          width: 350px;
          margin: 5px 0 20px 0;
          padding-left: 10px;
          font-size: 16px;
          &::placeholder {
            font-size: 14px;
          }
        }

        input[type='file'] {
          background: none;
          transform: translateY(-25px);
        }

        img {
          border-radius: 50%;
          height: 70px;
          width: 70px;
          margin-top: 10px;
        }

        label {
          font-size: 14px;
          font-weight: 600;
        }

        i {
          font-weight: 400;
          font-size: 12px;
        }
      }

      .right {
        .field {
          margin-bottom: 0;
        }
        input {
          border: none;
          background: none;
          outline: none;
          height: 45px;
          border-radius: 10px;
          background-color: white;
          width: 350px;
          margin: 10px 0 10px 0;
          padding-left: 10px;
          font-size: 16px;

          &::placeholder {
            font-size: 14px;
          }
        }

        input[type='submit'] {
          background-color: black;
          width: 150px;
          color: white;
          padding: 0;
          font-size: 16px;
          border: 1px solid black;

          &:hover {
            border: 1px solid black;
            background-color: white;
            color: black;
            cursor: pointer;
          }
        }
        .delete {
          margin-top: 40px;

          .title {
            font-size: 30px;
            margin-bottom: 10px;
          }
          .text {
            color: rgb(215, 39, 39);
          }
          input[type='submit'] {
            background-color: black;
            width: 350px;
            color: white;
            padding: 0;
            background-color: rgb(215, 39, 39);
            border: 1px solid rgb(215, 39, 39);
            background-color: white;
            color: rgb(215, 39, 39);
            font-size: 16px;

            &:hover {
              border: 1px solid rgb(215, 39, 39);
              background-color: rgb(215, 39, 39);
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
