.show-post {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 30px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: 1300px;
      height: 800px;
      box-sizing: border-box;
      box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 50px;

      .nav {
        display: flex;
        justify-content: space-between;
      }

      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;

        .left {
          
          img {
            width: 550px;
            height: 550px;
            border-radius: 20px;
          }

          .details {
            margin-top: 20px;
            color: rgb(87, 87, 87);
            max-width: 90%;

            .title {
              font-weight: 600;
              color: black;
            }
          }

          .date {
            margin-top: 20px;
            color: grey;
            font-size: 14px;
          }
        }
        .right {
          .creator {
            padding: 0;
            height: 60px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgb(203, 203, 203);
            padding-bottom: 10px;

            .info {
              .name {
                font-weight: 600;
              }

              .username {
                color: grey;
                font-size: 14px;
              }
            }

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }

          .comments {
            border-bottom: 1px solid rgb(203, 203, 203);
            padding-bottom: 10px;
            min-height: 450px;
            overflow: scroll;
            max-height: 450px;

            .blank {
              width: 100%;
              height: 440px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: grey;
            }


           

            .comment {
              display: grid;
              grid-template-columns: 50px 505px 20px;
              width: 100%;
              align-items: center;
              padding: 15px 10px;
              border-radius: 10px;

              &:first-child {
                border-radius: 0 0 10px 10px;
              }
              &:nth-child(2n + 1) {
                background-color: rgb(227, 227, 227);
              }

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }

              .text {
                .username {
                  font-weight: 500;
                  display: flex;
                  align-items: center;
                  
                }
                .message {
                  margin-top: 3px;
                }
                .date {
                  color: grey;
                  font-size: 12px;
                  margin-left: 5px;
                }
              }

              .trash {
                width: 15px;
                height: 15px;
                border-radius: 0;
              }
              

            }
          }

          .like {
            display: flex;
            margin: 20px 0 10px 0;

            img {
              margin-right: 10px;
            }

            button {
              border: none;
              background: none;
              outline: none;
              cursor: pointer;
            }

          }
          .count-like {
            span {
              font-weight: 500;
            }
          }

          .add-comment {
            display: flex;
            align-items: center;
            margin-top: 20px;
            height: 50px;

            img {
              width: 30px;
              height: 30px;
              margin-right: 10px;
              border-radius: 50%;
            }

            form {
              display: flex;
              align-items: center;
              
              input[type=text] {
                background: none;
                outline: none;
                font-size: 16px;
                padding: 0 10px;
                border: none;
                height: 50px;
                width: 520px;
              }

              input[type=submit]{
                background: none;
                border: none;
                font-size: 16px;
                font-weight: 600;
                color: rgb(198, 96, 23);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
